/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 800px;

}

article {
  border-bottom:  3px solid;
}

h1 {

}

img {
  max-width: 100%;
}

figure {
  display: inline-block;
  border: 1px dotted gray;
  margin: 20px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}
figure figcaption {
  font-style: italic;
  text-align: center;
}

ul.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.social > li {
  display: inline;
  text-shadow: 1px 1px 1px #ccc;

}

